

/*  F O O T E R  S T Y L E S  */

footer {
	background-color: #2B2B2B;
	overflow: auto;
	border-top: 2px solid black;
	border-bottom: 2px solid black;

	h5 {
		color: $primary;
		margin-top: 0;
		margin-bottom: 3%;
		@include basefont(13px, 600, 1);
		letter-spacing: 2px;
		
		&::after {
			content: '';
			border: 1px solid black;
			width: 20px;
			display: block;
			margin-top: 10px;
		}
	}

	p {
		color: grey;
		text-transform: none;
		letter-spacing: 1px;
		font-size: 1rem;
		font-weight: 600;
		line-height: 1.8;
		text-decoration: none;
		@include p-basefont();
	}

	a {
		color: lightgrey;
		@include p-basefont();
		font-size: 1rem;
		transition: 0.5s all ease;
	}
}


.footer-container {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin: 4% 0;

	.footer-section {
		display: flex;
		flex-direction: column;
		flex: 0 0 25%;
		padding: 0 3% 0 2%;		
	}
}


span.divider {
	display: inline-block;
	width: 0;
	height: 250px;
	border-left: 1px solid grey;
}


		/* Footer - About Us Section */

.footer-section.about {
	padding-left: 0;
	flex: 1 0 25%;
	a:hover {
		font-weight: 700;
		color: $primary;
	}
}

		/* Footer - Links Section */

.footer-section.links {
	flex: 0 0 17%;

	.links-container {
		display: flex;
		flex-direction: column;		
	}

	a {
		text-transform: uppercase;
		line-height: 4;
		font-size: 1rem;
		color: $primary;
		&:hover {
			font-weight: 700;
			color: $primary;
			letter-spacing: 3.5px;		
		}
	}
}



		/* Footer - Twitter Section */


.tweet {
	margin-bottom: 7%;
	p {
		line-height: 1.2;
	}

	i {
		color: grey;
	}

	a {
		&.twitter-link {
			font-weight: 200;
			letter-spacing: 1.5px;
			transition: 0.5s all ease;
		}
		&.twitter-link:hover i {
			transition: 0.5s all ease;
			color: #00aced;
		}
		&:hover {
			color: white;
			letter-spacing: 3px;
		}
	}
}

		/*  Contact Footer  */

.social-icons {
	width: 25%;
	justify-content: space-between;
	display: flex;
	i {
		transition: 0.5s all ease;
		font-size: 1.1rem;
		color: $secondary;
		padding: 6px 6px 6px 8px;
		border-radius: 50%;
		background-color: $primary;
		margin: 5px;
		&.fa-facebook-f:hover {
			color: #3b5998;
		}
		&.fa-twitter:hover {
			color: #00aced;
		}
		&.fa-behance:hover {
			color: #053eff;
		}
		&.fa-linkedin-in:hover {
			color: #3b5998;
		}
	}
}


		/*  Bottom Footer  */

.bottom-footer {
	background-color: #222222;
	padding: 12px 0;
	border-top: 2px solid black;
	p {
		text-align: center;
		@include basefont (12px, 700, 1);
		text-transform: uppercase;
		color: $primary;
	}
}

/*  < 4 8 0 p x  - Landscape phones and down  */

@media (max-width: 768px) {

	.footer-container {
		flex-direction: column;
		.footer-section {
		width: 100%;
		padding: 15px 0;
		}
		.tweet {
			margin-bottom: 0;
		}
		.footer-section.links {
			text-align: center;
			flex-direction: column;
			align-items: center;
		}
	}
	
	span.divider {
		display: none;
	}
}